@font-face {
  font-family: AvertaRegular;
  src: url(Averta.a4626f6d.woff) format("woff");
}
@font-face {
  font-family: AvertaSemiBold;
  src: url(Averta-Semibold.aaa9584a.woff) format("woff");
}
@font-face {
  font-family: AvertaBold;
  src: url(Averta-Bold.8033efc0.woff) format("woff");
}
body {
  font-family: "AvertaRegular", sans-serif !important;
  color: #514949;
}

a {
  text-decoration: none;
}

.header-btn {
  background: #e7332b;
  border-radius: 0;
}
.header-btn:hover {
  border: #e7332b !important;
}
.header-btn:hover a {
  color: #e7332b !important;
}

.nav-button:hover {
  background-color: transparent !important;
  color: #e7332b !important;
  border: 1px solid #e7332b !important;
}

.hero-section h1 {
  font-family: "AvertaBold", sans-serif;
  font-size: 2rem;
}
.hero-section p {
  font-size: 0.95rem;
}
.hero-section a {
  font-size: 1rem;
  background-color: #e7332b;
  color: #fff;
  padding: 0.68rem 1.75rem;
  border: 2px solid #e7332b;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}
.hero-section a:hover {
  background-color: transparent;
  color: #e7332b;
  border: 2px solid #e7332b;
  text-decoration: none;
}

.about-section .about__link a {
  color: #e7332b !important;
  font-family: "AvertaSemiBold";
}
.about-section .about__link a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.about-section h3 {
  font-size: 0.87rem;
  margin-bottom: 1rem;
  color: #e7332b;
}
.about-section h2 {
  font-size: 1.5rem;
  font-family: "AvertaBold";
}
.about-section h4 {
  font-size: 1.12rem;
  font-family: "AvertaSemiBold";
}
.about-section a {
  text-decoration: none;
}

.scope-section h3 {
  font-size: 0.87rem;
  margin-bottom: 1rem;
  color: #e7332b;
}
.scope-section h2 {
  font-size: 1.5rem;
  font-family: "AvertaBold";
}
.scope-section a {
  font-size: 1rem;
  background-color: #e7332b;
  color: #fff;
  padding: 0.68rem 1.75rem;
  border: 2px solid #e7332b;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}
.scope-section a:hover {
  background-color: transparent;
  color: #e7332b;
  border: 2px solid #e7332b;
  text-decoration: none;
}
.scope-section .card {
  border: none;
}
.scope-section .scope__1 {
  background-color: #ffe3e1;
}
.scope-section .scope__2 {
  background-color: #f0dcf8;
}
.scope-section .scope__3 {
  background-color: #f0f6f7;
}
.scope-section .scope__4 {
  background-color: #dcf4f8;
}
.scope-section .scope__5 {
  background-color: #f0f6f7;
}

.faq-section .faqs {
  width: 90%;
  margin: auto;
  padding: 15px;
}
.faq-section .faqs .faq {
  margin: 15px;
  padding: 30px 40px;
  background: #f7f3f2;
  border-radius: 8px;
}
.faq-section .faqs .faq-question {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  padding-right: 80px;
  transition: all 0.4s ease;
}
.faq-section .faqs .faq-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url("/assets/images/download (1).png");
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.4s ease-out;
}
.faq-section .faqs .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
}

.open .faq-question {
  margin-bottom: 15px !important;
}
.open .faq-question::after {
  transform: translateY(-50%) rotate(180deg) !important;
}
.open .faq-answer {
  max-height: 1000px !important;
  opacity: 1 !important;
  line-height: 2em;
}

.carousel-section .container {
  background: url("../images/enrrolBG.81cce219 (1).png") !important;
  padding: 4rem 0;
}
.carousel-section .container h2 {
  color: #fff;
  font-size: 1.5rem;
  font-family: "AvertaBold";
}
.carousel-section .container a {
  font-size: 1rem;
  background-color: #e7332b;
  color: #fff;
  padding: 0.68rem 1.75rem;
  border: 2px solid #e7332b;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}
.carousel-section .container a:hover {
  background-color: transparent;
  color: #e7332b;
  border: 2px solid #e7332b;
  text-decoration: none;
}

.footer-links {
  font-size: 14px;
  color: #514949;
  opacity: 0.9;
}

.footer-heading {
  font-size: 18px;
  line-height: 24px;
  color: #514949;
  font-weight: 700;
}

.footer-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .footer-mobile {
    display: block;
  }
  .footer {
    display: none;
  }
  .footer-heading {
    font-size: 14px;
    line-height: 24px;
    color: #514949;
    font-weight: 700;
  }
  .footer-links {
    font-size: 12px;
    color: #514949;
    opacity: 0.9;
  }
}